*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}

.page{
  background-color: #e9e9e9;
  min-height: 100vh;
  padding: 4rem;
}

.t-2{
  transition: .2s !important;
}

.t-4{
  transition: .4s !important;
}
.t-6{
  transition: .6s !important;
}
.t-8{
  transition: .8s !important;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}